body{
    margin: 0;
}
.container{
    overflow: hidden;
}
.parallax{
    background: url('ratusz.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    opacity: 0.65;
    position: relative;
    text-shadow: 5px 5px 2px #000;
}
.parallax h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Playfair Display', serif;
    padding:  10%;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.parallax-text{
    text-align: none;
    font-size: 0.7em;
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-20%, -20%);
}
#navbar{
    overflow: hidden;
    display: grid;
    min-height: 72px;
    grid-auto-flow: column;
    background: #000;
    color: #fff;
    grid-gap: 20px;
    padding: 0 50px;
}
#logo{
    text-decoration: none;
    display: grid;
    color: #fff;
    justify-content: start;
    align-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    
    
}
#menu-btns{
    display: grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 30px;
}
#menu-btns a{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 8px;
    border-radius: 50px;
    transition: 0.2s;
}
#menu-btns a:hover{
    background: #666;
}
#tel-btn{
    display: grid;
    justify-content: start;
    
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 30px;
}
#tel-btn a{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    min-width: 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 8px;
    border-radius: 50px;
    transition: 0.2s;
}
#tel-btn a:hover{
    background: #666;
}

#part-1{
    background: #fff8e1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 100px 0;
    color: #2f2f2f;
}
#part-1-text{
    margin: 0;
    grid-column: 2/6;
}
#part-1-text span{
    font-size: 2.6em;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
#part-1-text h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
#part-1-img{
    background: url(mlot.svg) no-repeat center;
    grid-column: 7/12;
}
#oferta{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 50px 0;
}
#oferta h1{
    text-align: center;
    grid-column: 2/12;
    color: #e0c389;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 2.5em;
}
#oferta h2{
    grid-column: 2/12;
    text-align: justify;
    font-family: 'Lato', serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #2f2f2f;
}
.parallax-2{
    background: url('photo-1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
    opacity: 0.5;
    position: relative;
}
.parallax-2 h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.parallax-3{
    background: url('temida.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
    opacity: 0.5;
    position: relative;
}
.parallax-3 h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#oferty-3{
    background:#fff8e1;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}
#oferty-3 i{
    font-size: 5em;
    padding: 15px;
}
.oferta-w-3{
    margin: 50px 0;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
}
#oferta-1{
    grid-column: 3/9;
}
#oferta-2{
    grid-column: 10/16;
}
#oferta-3{
    grid-column: 17/23;
}
.oferta-img-1{
    background: url(obraczki.svg) no-repeat center;
    min-height: 150px;
    margin-bottom: 15px;
}
.oferta-img-2{
    background: url(hajs.svg) no-repeat center;
    min-height: 150px;
    margin-bottom: 15px;
}
.oferta-img-3{
    background: url(papiery.svg) no-repeat center;
    min-height: 150px;
    margin-bottom: 15px;
}
.oferta-tekst{
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    text-align: justify;
}
#uslugi-1 h1{
    text-align: center;
    grid-column: 2/12;
    color: #e0c389;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 2.5em;
}
#uslugi-2{
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    margin: 50px 0;
}
#uslugi-text{
    grid-column: 2/21;
    margin-top: 25px;
    background: #fafafa;
    font-family: 'Lato', sans-serif;
    padding: 20px;
    border-radius: 10px;
}
.usluga{
    text-align: center;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #2f2f2f;
    letter-spacing: 2px;
}
#usluga-1{
    grid-column: 2/6;
}
#usluga-2{
    grid-column: 7/11;
}
#usluga-3{
    grid-column: 12/16;
}
#usluga-4{
    grid-column: 17/21;
}
#uslugi-3{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
button.accordion{
    border-radius: 10px;
    grid-column: 3/11;
    background: #eee;
    color: #2f2f2f;
    cursor: pointer;
    border: 0;
    padding: 18px;
    text-align: center;
    font-size: 18px;
    transition: 0.4s;
    margin: 10px 0;
}
button:focus{
    outline: none;
}
button.accordion.active, button.accordion:hover{
    background: #ccc;
}
div.panel{
    grid-column: 3/11;
    padding: 0 18px;
    color: #000;
    max-height: 0;
    overflow: hidden;
    width: 67.45%;
    margin: 0 auto;
    transition: max-height .2s ease-out;
    font-family: 'Lato', sans-serif;
}
.acc-icon{
    float:right;
}
#bio{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    background: #eee;
}
#text-bio{
    color: #2f2f2f;
    grid-column: 3/17;
    margin: 40px 0;
    text-align: justify;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
}

#text-bio span{
    color: #e0c389;
    font-size: 1.9em;
    font-family: 'Playfair Display', serif;
    margin-top: 40px;
}

#img-bio{
    background: url(img.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 18/23;
    margin: 40px 0;
    border-radius: 10px;
}
/***************************/
#contact{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    background: #fff;
}

#text-contact{
    color: #2f2f2f;
    grid-column: 4/11;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}

#text-contact span{
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    color: #e0c389;
}

#map{
    grid-column: 12/22;
    border: solid 2px #e0c389;
}
/***************************/
footer{
    margin-top: 50px;
    text-align: center;
    background: #111;
    color: #666;
    font-family: 'Lato', sans-serif;
}

#footer-1{
    padding: 45px 0;
    font-size: 1.2em;
}

#footer-2{
    font-size: 0.8em;
    padding-bottom: 20px;
}
footer a:link{ color: #fff; text-decoration: none; }
footer a:visited{ color: #fff; text-decoration: none; }
footer a:hover{ color: #999; text-decoration: none; }
footer a:active{ color: #fff; text-decoration: none; }
/*******************************/
#papiez{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: #eee;
}
#papiez h1{
    text-align: center;
    grid-column: 2/12;
    color: #2f2f2f;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 2.5em;
}
#papiez h2{
    grid-column: 2/12;
    text-align: justify;
    font-family: 'Lato', serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #2f2f2f;
}
#papiez-2{
    background: #f7f7f7;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
}
#papiez-2 h1{
    text-align: center;
    grid-column: 1/14;
    color: #2f2f2f;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin: 0;
    padding: 30px;
    font-size: 2.5em;
}
#papiez-2 h2{
    grid-column: 1/14;
    text-align: center;
    font-family: 'Lato', serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #2f2f2f;
}
.papiez-2-div{
    background: transparent;
    margin-bottom: 15px;
}
#papiez-div-1{
    grid-column: 2/5;
}
#papiez-div-2{
    grid-column: 6/9;
}
#papiez-div-3{
    grid-column: 10/13;
}
#papiez-div-4{
    grid-column: 2/5;
}
#papiez-div-5{
    grid-column: 6/9;
}
#papiez-div-6{
    grid-column: 10/13;
}
.papiez-2-div h1{
    font-size: 1.7em!important;
    text-align: left!important;
    font-weight: 700!important;
    padding: 0!important;
}
.papiez-2-div i{
    float: right!important;
    font-size: 1em!important;
}
.papiez-2-div h2{
    font-size: 1.1em!important;
    text-align: justify!important;
    font-weight: 400!important;
}
#papieski-title{
    margin-bottom: 50px;
}
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  

  

  
  