/* variables */
:root {
    --primary: #FFC636;
    --secondary: #e0c389;
}

/* reset */
body,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* base styles */
body {
    background: var(--secondary);
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

.logo {
    margin-left: 80px;
    padding: 10px;
    color: #fff;
    font-weight: 700;
}

.menu-btn {
    padding: 5px 20px;
    border-radius: 100px;
    margin-right: 80px;
    font-weight: 700;
    background: #e0c389;
}

input,
textarea {
    background: rgba(255, 255, 255, 0.05);
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid #9893D8;
    color: #f2f2f2;
    font-size: 1em;
}

/* fonts */
h1,
h2,
h3,
h4 {
    color: #2f2f2f;
    font-weight: normal;
    line-height: 1.4em;
}

p,
a,
li {
    color: #9893D8;
    line-height: 1.4em;
    font-size: 1em;
}

h1,
h3 {
    font-size: 1.2em;
}

h2 {
    color: #2f2f2f;
    font-family: 'Playfair Display', serif;
    font-size: 2.3em;
    font-weight: 700;
    margin-top: 0;
}

h4 {
    font-size: 1.1em;
}

.leading {
    font-size: 1.1em;
    color: #fff;
    font-weight: 400;
}

.offer-text {
    font-size: 1.2em;
    color: #2f2f2f;
    font-weight: 400;
    background: #eee;
    padding: 20px;
    border-radius: 10px;
}

/* mobile styles */
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    box-sizing: border-box;
}

.menu-bar {
    background: #000;
    margin: 0 !important;
    width: 100%;
    max-width: 100% !important;
}

.site-nav {
    margin: 0 20px;
}

.site-nav h1 {
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    display: inline-block;
}

.site-nav ul {
    display: none;
}

#welcome {
    overflow: hidden;
    margin-top: 72px;
    margin-bottom: 50px;
    padding: 0 20px 20px 20px;
}

.welcome-text {
    grid-column: 1/6;
}

.welcome-text a {
    margin: 20px 0;
}

.welcome-img {
    grid-column: 6/9;
}

.welcome-img img {
    width: 200%;
    overflow: hidden;
}

#offer {
    padding: 30px 20px;
    background: #fff;
}

#offer h3 {
    color: #e0c389;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}

#offer ul {
    margin: 40px 0;
}

#offer li {
    padding: 10px;
    border: solid 2px #e0c389;
    border-radius: 10px;
    grid-column: span 8;
    text-align: center;
}

#offer img {
    width: 100%;
    height: 120px;
    margin: 10px auto;
}

#offer p {
    text-align: center;
    margin: 20px 20px;
}

#contact {
    padding: 30px 20px;
    background: #080936;
}

#contact h3,
#contact p {
    margin-bottom: 0;
    text-align: center;
}

#contact form {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

#contact input,
#contact textarea {
    width: 100%;
    margin: 10px 0;
}

#contact textarea {
    max-width: 100%;
    height: 200px;
}

#contact .button {
    margin-top: 10px;
}


/* small tablet styles */
@media screen and (min-width: 620px) {

    .welcome-text {
        grid-column: 1/5;
    }

    .welcome-img {
        grid-column: 5/9;
    }

    .welcome-img img {
        width: 100%;
    }

    #offer {
        padding: 30px 100px;
    }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {

    body {
        font-size: 18px;
    }

    .grid {
        max-width: 1060px;
        margin: 0 auto;
        width: 100%;
    }

    .leading {
        margin: 20px 0;
    }

    .site-nav {
        padding: 0 20px;
    }

    .site-nav h1 {
        grid-column: 1/3;
    }

    .site-nav ul {
        display: flex;
        grid-column: 6/9;
        justify-content: flex-end;
        align-self: center;
    }

    .site-nav li {
        margin-left: 20px;
    }

    .welcome-text {
        grid-column: 1/5;
        align-self: center;
    }

    #welcome {
        padding-bottom: 40px;
    }

    #offer {
        padding: 30px 20px;
    }

    #offer ul {
        margin: 40px auto;
    }

    #offer li {
        grid-column: span 2;
    }

    #offer p {
        max-width: 800px;
        margin: 40px auto;
    }

}

/* desktop styles */
@media screen and (min-width: 1200px) {

    body {
        font-size: 20px;
    }

    .site-nav {
        padding: 0;
    }

    #welcome,
    #offer,
    #contact {
        padding: 90px 0;
    }

    .leading {
        margin: 20px 0;
    }

}

#about,#bio{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    background: #eee;
}

#text-about{
    color: #2f2f2f;
    grid-column: 3/23;
    margin: 40px 0;
    text-align: center;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
}

#text-about span{
    color: #e0c389;
    font-size: 1.8em;
    font-family: 'Playfair Display', serif;
    margin-top: 40px;
}


#text-bio{
    color: #2f2f2f;
    grid-column: 3/17;
    margin: 40px 0;
    text-align: justify;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
}

#text-bio span{
    color: #e0c389;
    font-size: 1.8em;
    font-family: 'Playfair Display', serif;
    margin-top: 40px;
}

#img-bio{
    background: url(assets/img.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 18/23;
    margin: 40px 0;
    border-radius: 10px;
}

@media screen and (max-width: 960px) {
    #text-bio{
        grid-column: 3/15;
        border-radius: 10px 0 0 10px;
    }
    #img-bio{
        grid-column: 15/23;
        border-radius: 0 10px 10px 0;
    }
}

@media screen and (max-width: 740px) {
    #text-bio{
        grid-column: 3/23;
        border-radius: 10px;
    }
    #img-bio {
        display: none;
    }
    #text-about{
        text-align: justify;
    }
}

#contact{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    background: #fff;
}

#text-contact{
    color: #2f2f2f;
    grid-column: 4/11;
}

#text-contact span{
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    color: #e0c389;
}

#map{
    grid-column: 11/22;
    border: solid 2px #e0c389;
}

@media screen and (max-width: 900px){
    #text-contact{
        grid-column: 4/20;
    }
    #map{
        height: 400px;
        margin-top: 40px;
        grid-column: 3/23;
    }
    
}

#opisy{
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
}

.opis{
    
}

.opis img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.opis-tekst{
    background: #fff;
    padding: 10px;
    color: #2f2f2f;
    border-radius: 0 0 10px 10px;
}

#opis-1{
    grid-column: 2/7;
}

#opis-2{
    grid-column: 8/13;
}

#opis-3{
    grid-column: 14/19;
}

@media screen and (max-width: 725px){
    #opis-1{
        grid-column: 4/17;
        margin-bottom: 30px;
    }
    #opis-2{
        grid-column: 4/17;
        margin-bottom: 30px;
    }
    #opis-3{
        grid-column: 4/17;
    }
}

footer{
    text-align: center;
    background: #111;
    color: #666;
}

#footer-1{
    padding: 20px 0;
}

#footer-2{
    font-size: 0.8em;
    padding-bottom: 20px;
}